<p>
  I'm Zach Dischner! As I'm just developing this cyber-landscape, this is about all the site has to offer. Thanks for
  stopping by!
</p>
<br/>
<p style="font-size:20pt">




<table class="me-table" width=50% align=center position=relative position-left=50% cellpadding=10px>
  <tr>
    <!-- Linkedin-->
    <td align=center>
      <div id=Linkedin class=me-div style=";background-image:url('http://linkedin.com/favicon.ico')">
        <%= link_to "http://www.linkedin.com/pub/zach-dischner/38/6a4/45b", target: "_blank" do %> LinkedIn
        <% end %>
      </div>
    </td>
    <!-- ZD Photography-->
    <td align=center>
      <div id=Portfolio class=me-div style="background-image:url('http://wix.com/favicon.ico')">
        <%= link_to "http://zachdischner.wix.com/epicphotography", target: "_blank" do %> Portfolio
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <!-- flickr-->
    <td align=center>
      <div id=Flickr class=me-div style="background-image:url('http://flickr.com/favicon.ico')">
        <%= link_to "http://www.flickr.com/photos/zachd1_618/", target: "_blank" do %> Flickr
        <% end %>
      </div>

    </td>
    <!-- 500px-->
    <td align=center>
      <div id=500px class=me-div style="background-image:url('http://500px.com/favicon.ico')">
        <%= link_to "http://500px.com/Zach_Dischner", target: "_blank" do %> 500px
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <!-- GitHub-->
    <td align=center>
      <div id=Github class=me-div style="background-image:url('http://github.com/favicon.ico')">
        <%= link_to "https://github.com/ZachDischner", target: "_blank" do %> GitHub
        <% end %>
      </div>
    </td>
    <!-- Stack Overflow-->
    <td align=center>
      <div id=SO class=me-div style="background-image:url('http://stackoverflow.com/favicon.ico')">
        <%= link_to "http://stackoverflow.com/users/1176806/zachd1-618", target: "_blank" do %> Stack Overflow
        <% end %>
      </div>
    </td>
  </tr>


</table>

</p>
