
<p>
I'm Zach Dischner! As I'm just developing this cyber-landscape, this is about all the site has to offer. Thanks for stopping by!
</p>
<br />
<p>
<text style="font-weight: bold;">You can also find me at:</text>
<ul>
<!-- <li><%= link_to 'LinkedIn', 'http://www.linkedin.com/pub/kevin-dinkel/5b/501/786/', target: "_blank" %></li>
<li><%= link_to 'GitHub', 'https://github.com/dinkelk', target: "_blank" %></li>
<li><%= link_to 'Stack Overflow', 'http://stackoverflow.com/users/1743929/dinkelk', target: "_blank" %></li>
<li><%= link_to 'Khan Academy', 'https://www.khanacademy.org/profile/dinkelk/', target: "_blank" %></li>
<li><%= link_to 'Codecademy', 'http://www.codecademy.com/users/dinkelk', target: "_blank" %></li>
<li><%= link_to 'facebook', 'https://www.facebook.com/dinkelk', target: "_blank" %></li> -->
</ul>
</p>
