<% provide(:title, 'Projects') %>

<p>
Below are a list of projects I have been or am currently involved in:

<ul>
<li><%= link_to 'DayStar Engineering', 'http://daystarengineering.wordpress.com/', target: "_blank" %>: a collection of high altitude balloon satellites on which I am a systems and software engineering consultant </li>
<li><%= link_to 'DANDE', 'http://en.wikipedia.org/wiki/Drag_and_Atmospheric_Neutral_Density_Explorer', target: "_blank" %>: a 50 kg spherical satellite developed at the <%= link_to 'Colorado Space Grant Consortium', 'http://spacegrant.colorado.edu/', target: "_blank" %> on which I designed and implemented flight software</li>
<li><%= link_to 'BOWSER', 'http://spacegrant.colorado.edu/previous-hasp-projects/hasp-2009', target: "_blank" %>: a 50 kg spherical satellite developed at the <%= link_to 'HASP', 'http://laspace.lsu.edu/hasp/', target: "_blank" %> on which I designed and implemented flight software</li>
</ul>

</p>

