<% provide(:title, 'Resume') %>

<p>
I am currently a graduate student at the <%= link_to 'University of Colorado', 'http://www.colorado.edu/', target: "_blank" %>
 at Boulder
studying <%= link_to 'aerospace engineering', 'http://www.colorado.edu/aerospace/', target: "_blank" %>
. My area of focus is in 
<%= link_to 'astrodynamics', 'http://en.wikipedia.org/wiki/Astrodynamics', target: "_blank" %>
 and satellite navigation.
I love <%= link_to 'space', 'http://en.wikipedia.org/wiki/Outer_space', target: "_blank" %>, but my true passion is
<%= link_to 'computer science', 'http://www.colorado.edu/cs/', target: "_blank" %>. I have a stong tendancy to look for work where
the two intersect.
</p>

<br />
<p>
<b>Interested in hiring me?</b>
<ul>
<li>Checkout my <b><%= link_to 'resume', '/assets/KevinDinkelWebResume2012.pdf', target: "blank_" %>,</b></li>
<li>or find me on <%= link_to 'LinkedIn', 'http://www.linkedin.com/pub/kevin-dinkel/5b/501/786/', target: "_blank" %>,</li>
<li>see what <a href="/projects">projects</a> I have been involved with,</li>
<li>and don't forget to <b><a href="/contact">contact</a></b> me.</li>
</ul>
</p>