<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38151061-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>

  <title>Zach Dischner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="shortcut icon" href="/assets/rocket.ico" />

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37403873-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>

</head>
<body>

<aside style="width:333px;padding-right:10px;"id="pageimage">
<img src="http://farm8.staticflickr.com/7144/6625771707_3f7bdda2b9.jpg" width="333" height="500" alt="A Light in the Night"></a>
</aside>

<nav>
<ul>
<li><%= link_to 'Me', '/' %></li>
<li><%= link_to 'Resume', '/resume' %></li>
<li><%= link_to 'Projects', '/projects' %></li>
<li><%= link_to 'Wine', '/wine' %></li>
<li><%= link_to 'Links', '/links' %></li>
<li><%= link_to 'Photography', '/photography' %></li>
<li><%= link_to 'Contact', '/contact' %></li>
</ul>
</nav>

<section id="pagecontent">
<header>
<h1>Zach's Webspace<%= addColon(yield(:title)) %> <text style="color:#6F6F6F"><%= yield(:title) %></text></h1>
</header>

<%= yield %>

</section>

<footer>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">
<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
<br />
<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"><a href="/">zachdischner.com</a></span> 
by <a xmlns:cc="http://creativecommons.org/ns#" href="/contact" property="cc:attributionName" rel="cc:attributionURL">Zach Dischner</a> 
is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US" target="_blank">Creative Commons BY-NC-SA License</a>.
<br />

</footer>

</body>
</html>
